LetsGoBikingServer/LetsGoBikingServer/bin/*
LetsGoBikingServer/LetsGoBikingServer/obj/*
LetsGoBikingServer/ProxyService/bin/*
LetsGoBikingServer/ProxyService/obj/*
LetsGoBikingServer/.vs
LetsGoBikingServer/.idea
.idea
client/target
LetsGoBikingServer/LetsGoBikingServer.sln.DotSettings.user
LetsGoBikingServer/packages